{% extends 'core/base.html' %}

{% load static %}

{% block containers %}
<section class="py-5 ms-3">
    <div class="container px-4 px-lg-5 mt-4">
        <h3 class="">Acerca de Nosotros</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mb-5">
        En Portotech, somos una empresa especializada en la venta de computadoras gamers, con una ubicación en Portoviejo, Manabí. Llevamos 3 años en el mercado y somos el único local dedicado a este tipo de equipos en la zona.
        Nuestro éxito se debe a nuestra honestidad con nuestros clientes y a nuestra habilidad para asesorarlos en cuanto a las mejores opciones de acuerdo a sus necesidades.
        En Portotech, valoramos la transparencia y siempre buscamos lo mejor para nuestros clientes, ofreciendo una excelente experiencia. Además, contamos con un servicio de post-venta que ofrece soporte gratuito durante 12 meses y dos mantenimientos gratuitos a los 6 y 12 meses.
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mb-5">
            <h3 class="">Misión</h3>
         Nuestra misión en Portotech es brindar a nuestros clientes productos de alta calidad y servicios excepcionales, mediante la constante innovación y la transparencia en todos nuestros procesos, para satisfacer sus necesidades y superar sus expectativas.
         </div>

         <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 mb-5">
            <h3 class="">Visión</h3>
            Nuestra visión en Portotech es convertirnos en líderes del mercado en la venta de computadoras gamers en Portoviejo, Manabí, mediante la mejora continua de nuestros productos y servicios, y la fidelización de nuestros clientes mediante un servicio excepcional. Además, queremos expandir nuestros servicios a nivel nacional e internacional, para llegar a más clientes y seguir creciendo.
         </div>
    </div>
</section>
{% endblock %}