{% extends 'core/base.html' %} {% block title %} Verificación {% endblock %} 
{% block containers %}
<div class="site-section py-5">
  <div class="container">
    <h1 class="text-center pt-3">Verificación</h1>
    <form action="." method="post" class="order-form row">
      {% csrf_token %}
      <div class="col-md-6 col-sm-6 mb-3">
        <label class="label" for="First_name">Nombre: </label>
        <input type="text" class="form-control" name="{{ form.first_name.name }}" value="{{user.first_name}}" required="">
      </div>
      <div class="col-md-6 col-sm-6 mb-3">
        <label class="label" for="Last_name">Apellido:</label>
        <input type="text" class="form-control" name="{{ form.last_name.name }}" value="{{user.last_name}}" required="">
      </div>
      <div class="col-md-6 col-sm-6 mb-3">
        <label class="label" for="Last_name">Correo Electronico:</label>
        <input type="text" class="form-control" name="{{ form.email.name }}" value="{{user.email}}" required="">
      </div>
      <div class="col-md-6 col-sm-6 mb-3">
        <label class="label" for="Last_name">Dirección:</label>
        <input type="text" class="form-control" name="{{ form.address.name }}" value="{{user.address}}" required="">
      </div>
      <div class="col-md-6 col-sm-6 mb-3">
        <label class="label" for="Last_name">Ciudad:</label>
        <input type="text" class="form-control" name="{{ form.city.name }}" required="">
      </div>
      <div class="col-md-6 col-sm-6 mb-3">
        <label class="label" for="Last_name">Codigo Postal:</label>
        <input type="text" class="form-control" name="{{ form.postal_code.name }}" required="">
      </div>
      <p>
        <input
          class="btn btn-primary btn-sm btn-block"
          type="submit"
          value="Finalizar Pedido"
        />
      </p>
    </form>
    <div class="order-info">
      <h3 class="text-center">Orden</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
          <tr>
            <th>{{ item.quantity }}</th>
            <td>{{ item.product.name }}</td>
            <td>${{ item.total_price }}</td>
          </tr>
        {% endfor %}
          </tbody>
          
      </table>
      <h4 class="text-end me-4">Total: ${{ cart.get_total_price }}</h4>
    </div>
  </div>
</div>
{% endblock %}
