#botonCarrito:hover > #infoCarrito {
    background: #ffc107;
    color: black;
}

#infoCarrito {
    background: black;
    color: white;
}

#etiquetaA:hover{
    text-decoration: underline;
}

#opcionesCategoria{
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.btn-primary{
    background: #ffc107 !important;
    border-color: #d9a300 !important;
}

.btn-primary:hover{
    background: #d9a300 !important;
    border-color: #d9a300 !important;
}

#opcionesCategoria:hover{
    color: #ffc107;
    text-decoration: underline;
}