#botonCarrito:hover > #infoCarrito {
    background: #ffc107;
    color: black;
}

#infoCarrito {
    background: black;
    color: white;
}

#etiquetaA:hover{
    text-decoration: underline;
}

#opcionesCategoria{
    font-size: 19px;
    color: white;
    text-decoration: none;
}

#opcionesCategoria:hover{
    color: #ffc107;
    text-decoration: underline;
}